@import 'sass/importMap';

@import 'compass/reset';
@import 'compass/css3';
@import 'compass/utilities/sprites';

@import 'sass/ui-icons';
@font-face {
  font-family: "ui-icons";
  src:url('fonts/ui-icons.eot');
  src:url('fonts/ui-icons.eot?#iefix') format('embedded-opentype'),
  url('fonts/ui-icons.svg#ui-icons') format('svg'),
  url('fonts/ui-icons.woff') format('woff'),
  url('fonts/ui-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  vertical-align: middle;
  font-family: "ui-icons";
  display:inline-block;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

@import '../../vendor/bootstrap-sass/assets/stylesheets/bootstrap';