<snap-drawer snap-drawer="right">
  <div class="menu-header">תפריט</div>

  <ul class="menu-nav">
    <li><a snap-close ui-sref-active="active" ui-sref="app.home">ראשי</a></li>
    <li><a snap-close ui-sref-active="active" ui-sref="app.details">פעולות</a></li>
    <li><a snap-close ui-sref-active="active" ui-sref="app.settings">הגדרות</a></li>
    <!--<li><a snap-close ui-sref-active="active" ui-sref="app.history">היסטוריה</a></li>-->
    <li><a snap-close href="#" ng-click="model.logout()">התנתק</a></li>
  </ul>

  <div class="cc">

    <div class="techs">
      <i class="ion-social-angular"></i>
      <i class="ion-social-html5"></i>
      <i class="ion-social-css3"></i>
      <i class="ion-social-javascript"></i>
    </div>
    <div class="dev"><i class="ion-code-working"></i> YHalfin.</div>
  </div>
</snap-drawer>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="clearfix text-center">

      <button type="button" snap-toggle="right" class="navbar-toggle pull-right">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span
        snap-close
        ng-click="model.back()"
        class="custom-btn pull-left fa fa-chevron-left">
      </span>
      <span
        ng-if="!$state.includes('app.details')"
        class="custom-sep pull-left">
      </span>
      <span
        ui-sref="app.home.new({cat:$state.params.cat})"
        ng-if="!$state.includes('app.details')"
        snap-close
        class="custom-btn pull-left fa fa-plus">
      </span>



      <span class="navbar-brand pull-right">
        <any>ניהול תקציב</any> -
        <any>{{$state.current.data.state}}</any>
      </span>

    </div>
  </div>
</div>

<snap-content snap-opt-max-position="180" snap-opt-min-position="-180">
  <div class="container-fluid">
    <div ui-view="main" autoscroll='true' id="main-wrapper" class="anim-in-out anim-fade" data-anim-speed="300"></div>

  </div>
</snap-content>
