.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: right;
  clear:both;
  padding:5px;
}
.tc-chart-js-legend li span {
  width:20px;
  height:20px;
  display:block;
  float:right;
  margin-left:5px;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .tc-chart-js-legend {
    margin-top: 15px;
  }
  .tc-chart-js-legend li {
    display: inline-block;
    float: none;
  }




}
