
.modal-open {
  overflow: hidden;

  .modal-header {
    padding: 0px 13px;
    background-color: transparent;
    background-image: none;
    filter: none;

    margin: 0 20px;
    padding: 15px 0;
    min-height: 16.42857143px;

    .pointer{
      cursor: pointer;
      font-size: 22px;
      color: #316578;
    }
  }

  .modal-body {
    direction: rtl;
    position: relative;
    padding: 10px 20px;
    p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  .modal-footer {
    margin: 0 20px;
    padding: 15px 0;
    text-align: right;
  }
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform .3s ease-out;
  -moz-transition: -moz-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 50px 5px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  background-clip: padding-box;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50)
}

.modal-header .close {
  margin-top: -2px
}

//.modal-title {
//  margin: 0;
//  line-height: 1.42857143;
//  color: #005fa9;
//  font-size: 18px;
//}

.modal-footer .btn + .btn {
  margin-left: 0!important;
  margin-bottom: 0
}

//.modal-footer .btn-group .btn + .btn {
//  margin-left: -1px
//}
//
//.modal-footer .btn-block + .btn-block {
//  margin-left: 0
//}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 50px auto
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
  }

  .modal-sm {
    width: 300px
  }
}

@media (max-width: 468px) {
  .modal-dialog {
    margin: 5px;
    .modal-content{
      .modal-body {
        overflow: auto;
      }
    }
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px
  }
}


